nosetests.xml
.coverage
*.pyc
*.sw[op]
RELEASE-VERSION
*.egg-info
bin
.installed.cfg
.settings
develop-eggs
eggs
parts
dist
build
oms_groups
oms_passwd
.mr.developer*
.ropeproject
omsd.log
twistd.pid
.project
.pydevproject
db/data.fs
db/data.fs.index
db/data.fs.lock
db/data.fs.tmp
db/zeo.log
*.log
docs/doctrees/
docs/html/
docs/source/gen/
docs/Makefile
docs/make.bat
