nosetests.xml
.coverage
*.pyc
*.sw[op]
RELEASE-VERSION
*.egg-info
bin
.installed.cfg
.settings
develop-eggs
eggs
parts
dist
build
docs
oms_groups
oms_passwd
.mr.developer*
.ropeproject
omsd.log
twistd.pid
.project
.pydevproject
